<h1>Create a new task</h1>

<%= render 'form' %>

<!-- <form action="/tasks" method="post">
  <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">
  <input type="text" name="task[name]" placeholder="Name">
  <input type="text", name="task[content]" placeholder="Content">
  <input type="submit" value="Create Task!">
</form>
 -->
